h1{
    color:green;
    background: red;
    padding: 50px;
text-align:center;
    margin-right:300px ;
    margin-left:300px ;
    font-size: 50px;

}
.mynote{
    color:deeppink;

}
#myid{
    color:blue;
    font-size:50px;
}
a{
    display: block;
    text-decoration: none;
    width:150px;
    height:40px;
    line-height:40px;
    background: green;
    border-radius:10px ;
    text-align:center;

}
.container{
    background: black;
    width:500px;
    margin:20px auto;
    height:300px;
}
table{
    width:100%;
    height: 100%;
    border:3px solid blue;
}
th{
    color:red;
    background: white;
}
td{
    color:red;
    text-align:center;
}
navb.ar{
    width: 100%;
    height: 50px;
    background: red;
}
.nav,.sub{
    padding: 0;
    margin: 0;

}
.nav li{
    width: 150px;
    height:100%;
    background: black;
    text-align: center;
    float:left;
    line-height:50px;
    list-style: none;
    border-right:1px solid blue;

}
.nav li a{
    text-decoration: none;
    color: white;
    display: block;

}
.sub li{
    border-top:1px solid blue ;
    display: block;
}
.nav li:hover{
    background: gray;
}
.sub li{
    display: none;
}
.nav li:hover .sub li{
    display: block;
}

